# Rust / Cargo
/target
debug/
**/*.rs.bk
*.pdb
**/mutants.out*/

# macOS
.DS_Store
*.dSYM/

# Linux
*~
.directory

# VS Code
.vscode/

# Neovim
*.swp
*.swo
tags

# JetBrains
#.idea/

# Conductor
.context/
